*{
    box-sizing:border-box;
}

body{
    margin:auto;
    background-color:aliceblue;
}

h1{
    margin-top:0;
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
    background-color:black;
    color:white;
}

.sign_up{
    width:60%;
    text-align:center;
    margin:auto;
}

.contact_info,
.part_2{
    width:60%;
    margin:auto;
    margin-top:25px;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
}

.hr-1,
.hr-2{
    width:60%;
}

.hr-1{
    border:black 5px solid;
}

.hr-2{
    border:black 1.5px solid;
}

fieldset{
    border-style:none;
}

.contact{
    margin:10px 0;
}

input,
select{
    width:100%;
}










/*==========Media Queries==========*/

@media(min-width:769px){


}






@media(min-width:1050px){


}


.clearfix::after{
    content:"";
    display:table;
    clear:both;
}