*{
    box-sizing:border-box;
}

body{
    margin:auto;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color:aliceblue;
}

h1{
    margin-top:0;
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
    background-color:black;
    color:white;
}

h2
{
    text-align:center;
}


.main-footer{
    width:60%;
    text-align:center;
    margin:auto;
}

.contact_info{
    width:60%;
    margin:auto;
    margin-top:25px;
    display:flex;
}

.sign_up{
    width:60%;
    margin:auto;
    text-align:center;
    margin-bottom:25px;
}

.hr-1,
.hr-2{
    width:60%;
}

.hr-1{
    border:black 5px solid;
}

.hr-2{
    border:black 1px solid;
}

fieldset{
    border-style:none;
}

.contact{
    margin:10px 0;
}

input,
select{
    width:100%;
}

.interest{
    display:flex;
    flex:row;
    margin-bottom:10px;
}

select{
    width:30%;
}

input[type*="checkbox"] {
    width:25px;
    margin-right:15px;
}

input[id*="zipcode"]{
    width:30%;
}

legend{
    margin-top:15px auto;
}

textarea {
    width:100%;
    margin-top:15px;
    height:100px;
}

input[type*="submit"] {
    margin:25px auto;
    background:rgb(129, 179, 129);
}

.main-footer{
    margin:50px auto;
}

p{
    text-align:left;
}







/*==========Media Queries==========*/

@media(min-width:769px) {

    .contact_info{
        display:flex;
        flex-direction:row;
    }

    label{
        display:inline-block;
        width:150px;
        text-align:left;
    }

    input[type*="text"] {
        display:inline-block;
        width:50%;
    }
        

}






@media(min-width:1050px){


}


.clearfix::after{
    content:"";
    display:table;
    clear:both;
}